<div class="content-body">
  <router-outlet></router-outlet>
</div>

<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div>
      <br /><br />
      <span><mat-icon>home</mat-icon>Home</span><br /><br />
      <span><mat-icon>search</mat-icon>Search</span><br /><br />
      <span><mat-icon>email</mat-icon>Email</span><br /><br />
      <span><mat-icon>phone</mat-icon>Phone</span><br /><br />
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button (click)="sidenav.toggle()"><mat-icon> list</mat-icon></button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
