<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img
        mat-card-image
        src="https://img.icons8.com/bubbles/2x/user-male.png"
        alt="User"
      />
    </div>
    <mat-card-title>Name: {{ item.name }}</mat-card-title>
    <mat-card-subtitle>Username: {{ item.username }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>Email: {{ item.email }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="'/employee/'">
      Back
    </button>
  </mat-card-actions>
</mat-card>
